In [ ]:
import pandas as pd
import dateutil

In [ ]:
df = pd.read_csv('data/daily_stock_price_20180622_csv.csv', index_col = 0, thousands=",")

In [33]:
df.index = list(map(lambda x:x[1:], df.index))

In [35]:
df.head()

,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-09,2018-04-10,2018-04-11,2018-04-12,2018-04-13,...,2018-06-08,2018-06-11,2018-06-12,2018-06-14,2018-06-15,2018-06-18,2018-06-19,2018-06-20,2018-06-21,2018-06-22
005930,2427000.0,2406000.0,2346000.0,2437000.0,2420000.0,2460000.0,2444000.0,2443000.0,2450000.0,2490000.0,...,49650.0,49900.0,49400.0,48200.0,47650,46600,47000,47000,47050,47250
000660,81300.0,81800.0,80400.0,82900.0,80300.0,80600.0,80400.0,81200.0,84000.0,84200.0,...,88400.0,89200.0,88400.0,86300.0,87000,84000,84100,87800,88500,89500
068270,304000.0,299000.0,294000.0,295000.0,292000.0,306000.0,303000.0,298000.0,298500.0,290000.0,...,269500.0,267500.0,273000.0,280000.0,298500,305000,287500,297000,292000,295500
005490,327500.0,325000.0,317500.0,318500.0,319000.0,313000.0,324500.0,326500.0,321500.0,327500.0,...,360000.0,372000.0,366000.0,369500.0,365000,356000,340000,342500,339000,343500
005380,148500.0,152000.0,156500.0,154000.0,152500.0,151000.0,151000.0,150000.0,152000.0,150500.0,...,141000.0,139500.0,140500.0,135000.0,134000,135000,131500,129500,127000,130000